.recorder {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.recorder__recordings {
    display: flex;
    flex-direction: column;
}

.recorder__recording {
    width: 100%;
    margin-top: 15px;
}

@media (min-width: 720px) {
    .recorder {
        margin-top: 50px;
    }
}